@import './variable';

:global(.text) {
  color: @textColor;
}
:global(.content) {
  background: #fff
}
.border {
  .border;
}
html,body {
  height: 100%;
}
#root {
  min-height: 100%;
  .flex;
}
#main {
  .flex;
  flex-direction: column;
  flex: 1;
}